<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="🐸Coqui AI TTS demo server.">
    <meta name="author" content="🐸Coqui AI TTS">
    <title>TTS engine</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"
          rel="stylesheet">
    <style>
        .container {
            height: 100vh; /* Set container height to 100% of viewport height */
            display: flex; /* Use flexbox layout */
            overflow: hidden; /* Hide any overflowing content */
        }
        .left-column {
            margin-top: 80px;
            margin-bottom: 80px;
            flex: 1; /* Occupy remaining horizontal space */
            overflow-y: auto; /* Enable vertical scrollbar if content overflows */
        }
        .right-column {
            flex: 1; /* Occupy remaining horizontal space */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="left-column">
        <!-- Left Column - Empty Container -->
        <p>VCTK_p225: 23 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p225.wav" type="audio/wav"></audio> </p>
<p>VCTK_p228: 22 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p228.wav" type="audio/wav"></audio> </p>
<p>VCTK_p229: 23 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p229.wav" type="audio/wav"></audio> </p>
<p>VCTK_p230: 22 year old female, English accent (Stockton-on-tees)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p230.wav" type="audio/wav"></audio> </p>
<p>VCTK_p231: 23 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p231.wav" type="audio/wav"></audio> </p>
<p>VCTK_p233: 23 year old female, English accent (Staffordshire)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p233.wav" type="audio/wav"></audio> </p>
<p>VCTK_p236: 23 year old female, English accent (Manchester)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p236.wav" type="audio/wav"></audio> </p>
<p>VCTK_p239: 22 year old female, English accent (Southwest England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p239.wav" type="audio/wav"></audio> </p>
<p>VCTK_p240: 21 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p240.wav" type="audio/wav"></audio> </p>
<p>VCTK_p244: 22 year old female, English accent (Manchester)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p244.wav" type="audio/wav"></audio> </p>
<p>VCTK_p250: 22 year old female, English accent (Southeast England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p250.wav" type="audio/wav"></audio> </p>
<p>VCTK_p257: 24 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p257.wav" type="audio/wav"></audio> </p>
<p>VCTK_p267: 23 year old female, English accent (Yorkshire)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p267.wav" type="audio/wav"></audio> </p>
<p>VCTK_p268: 23 year old female, English accent (Southern England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p268.wav" type="audio/wav"></audio> </p>
<p>VCTK_p269: 20 year old female, English accent (Newcastle)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p269.wav" type="audio/wav"></audio> </p>
<p>VCTK_p276: 24 year old female, English accent (Oxford)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p276.wav" type="audio/wav"></audio> </p>
<p>VCTK_p277: 23 year old female, English accent (Northeast England)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p277.wav" type="audio/wav"></audio> </p>
<p>VCTK_p282: 23 year old female, English accent (Newcastle)<audio controls><source src="https://huggingface.co/voices/VCTK_European_English_Females/resolve/main/samples/p282.wav" type="audio/wav"></audio> </p>
    </div>
    <div class="right-column">
        <div class="text-center">
            <img class="mt-5" src="{{url_for('static', filename='logo.png')}}" align="middle" width="512"/>
            <ul class="list-unstyled"></ul>
            {%if use_gst%}
            <input value='{"0": 0.1}' id="style_wav" placeholder="style wav (dict or path to wav).." size=45 type="text" name="style_wav">
            {%endif%}
            <input id="text" placeholder="Type here..." size=45 type="text" name="text">
            <button id="speak-button" name="speak" class="btn btn-primary">Speak</button>
            <br/><br/>
            {%if use_multi_speaker%}
            Choose a speaker:
            <select id="speaker_id" name=speaker_id method="GET" action="/">
                {% for speaker_id in speaker_ids %}
                <option value="{{speaker_id}}" SELECTED>{{speaker_id}}</option>
                "
                {% endfor %}
            </select><br/><br/>
            {%endif%}
            {%if use_multi_language%}
            Choose a language:
            <select id="language_id" name=language_id method="GET" action="/">
                {% for language_id in language_ids %}
                <option value="{{language_id}}" SELECTED>{{language_id}}</option>
                "
                {% endfor %}
            </select><br/><br/>
            {%endif%}
            {%if show_details%}
            <button id="details-button" onclick="location.href = 'details'" name="model-details">Model Details</button>
            <br/><br/>
            {%endif%}
            <audio id="audio" controls autoplay hidden></audio>
            <p id="message"></p>
        </div>
    </div>
</div>
<script>
    function getTextValue(textId) {
        const container = q(textId)
        if (container) {
            return container.value
        }
        return ""
    }
    function q(selector) { return document.querySelector(selector) }
    q('#text').focus()
    function do_tts(e) {
        const text = q('#text').value
        const speaker_id = getTextValue('#speaker_id')
        const style_wav = getTextValue('#style_wav')
        const language_id = getTextValue('#language_id')
        if (text) {
            q('#message').textContent = 'Synthesizing...'
            q('#speak-button').disabled = true
            q('#audio').hidden = true
            synthesize(text, speaker_id, style_wav, language_id)
        }
        e.preventDefault()
        return false
    }
    q('#speak-button').addEventListener('click', do_tts)
    q('#text').addEventListener('keyup', function (e) {
        if (e.keyCode == 13) { // enter
            do_tts(e)
        }
    })
    function synthesize(text, speaker_id = "", style_wav = "", language_id = "") {
        fetch(`/api/tts?text=${encodeURIComponent(text)}&speaker_id=${encodeURIComponent(speaker_id)}&style_wav=${encodeURIComponent(style_wav)}&language_id=${encodeURIComponent(language_id)}`, { cache: 'no-cache' })
            .then(function (res) {
                if (!res.ok) throw Error(res.statusText)
                return res.blob()
            }).then(function (blob) {
                q('#message').textContent = ''
                q('#speak-button').disabled = false
                q('#audio').src = URL.createObjectURL(blob)
                q('#audio').hidden = false
            }).catch(function (err) {
                q('#message').textContent = 'Error: ' + err.message
                q('#speak-button').disabled = false
            })
    }
</script>
</body>
</html>
