<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="🐸Coqui AI TTS demo server.">
    <meta name="author" content="🐸Coqui AI TTS">
    <title>TTS engine</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"
          rel="stylesheet">
    <style>
        .container {
            height: 100vh; /* Set container height to 100% of viewport height */
            display: flex; /* Use flexbox layout */
            overflow: hidden; /* Hide any overflowing content */
        }
        .left-column {
            margin-top: 80px;
            margin-bottom: 80px;
            flex: 1; /* Occupy remaining horizontal space */
            overflow-y: auto; /* Enable vertical scrollbar if content overflows */
        }
        .right-column {
            flex: 1; /* Occupy remaining horizontal space */
        }

    </style>
</head>
<body>
<div class="container">
    <div class="left-column">
        <!-- Left Column - Empty Container -->
        <div id="voice-details-container"></div>
    </div>
    <div class="right-column">
        <div class="text-center">
            <img class="mt-5" src="{{url_for('static', filename='logo.png')}}" align="middle" width="512"/>
            <ul class="list-unstyled"></ul>
            {%if use_gst%}
            <input value='{"0": 0.1}' id="style_wav" placeholder="style wav (dict or path to wav).." size=45 type="text"
                   name="style_wav">
            {%endif%}
            <input id="text" placeholder="Type here..." size=45 type="text" name="text">
            <button id="speak-button" name="speak" class="btn btn-primary">Speak</button>
            <br/><br/>
            {%if use_multi_speaker%}
            Choose a speaker:
                <select id="speaker_id" name=speaker_id method="GET" action="/">
                  {% for speaker_id in speaker_ids %}
                    {% if speaker_id.startswith("VCTK_") %}
                      <option value="{{speaker_id}}" SELECTED>{{speaker_id}}</option>
                    {% endif %}
                  {% endfor %}
                </select><br/><br/>
            {%endif%}
            <!-- Temporary debug statement -->
<!--            {%if use_multi_language%}-->
<!--            Choose a language:-->
<!--            <select id="language_id" name=language_id method="GET" action="/">-->
<!--                {% for language_id in language_ids %}-->
<!--                <option value="{{language_id}}" SELECTED>{{language_id}}</option>-->
<!--                "-->
<!--                {% endfor %}-->
<!--            </select><br/><br/>-->
<!--            {%endif%}-->
            <input type="hidden" id="language_id" name="language_id" value="en">
            {%if show_details%}
            <button id="details-button" onclick="location.href = 'details'" name="model-details">Model Details</button>
            <br/><br/>
            {%endif%}
            <audio id="audio" controls autoplay hidden></audio>
            <p id="message"></p>
        </div>
    </div>
</div>
<script>
    function getTextValue(textId) {
        const container = q(textId)
        if (container) {
            return container.value
        }
        return ""
    }
    function q(selector) { return document.querySelector(selector) }
    q('#text').focus()
    function do_tts(e) {
        const text = q('#text').value
        const speaker_id = getTextValue('#speaker_id')
        const style_wav = getTextValue('#style_wav')
        const language_id = getTextValue('#language_id')
        if (text) {
            q('#message').textContent = 'Synthesizing...'
            q('#speak-button').disabled = true
            q('#audio').hidden = true
            synthesize(text, speaker_id, style_wav, language_id)
        }
        e.preventDefault()
        return false
    }
    q('#speak-button').addEventListener('click', do_tts)
    q('#text').addEventListener('keyup', function (e) {
        if (e.keyCode == 13) { // enter
            do_tts(e)
        }
    })
    function synthesize(text, speaker_id = "", style_wav = "", language_id = "") {
        fetch(`/api/tts?text=${encodeURIComponent(text)}&speaker_id=${encodeURIComponent(speaker_id)}&style_wav=${encodeURIComponent(style_wav)}&language_id=${encodeURIComponent(language_id)}`, { cache: 'no-cache' })
            .then(function (res) {
                if (!res.ok) throw Error(res.statusText)
                return res.blob()
            }).then(function (blob) {
                q('#message').textContent = ''
                q('#speak-button').disabled = false
                q('#audio').src = URL.createObjectURL(blob)
                q('#audio').hidden = false
            }).catch(function (err) {
                q('#message').textContent = 'Error: ' + err.message
                q('#speak-button').disabled = false
            })
    }
      // Function to make an AJAX request and update the voice details container
function updateVoiceDetails() {
  // Create a new XMLHttpRequest object
  var xhr = new XMLHttpRequest();

  // Configure the request
  xhr.open("GET", "/get_voices", true);

  // Define the callback function to handle the response
  xhr.onload = function () {
    if (xhr.status === 200) {
      // Parse the response as JSON
      var response = JSON.parse(xhr.responseText);

      // Build the HTML string for the voice details
 var voiceDetailsHTML = "";
for (var i = 0; i < response.length; i++) {
  var speaker = response[i];
  var speakerHTML =
    '<p>' +
    speaker.speaker_id +
    ': ' +
    speaker.age +
    ' year old ' +
    speaker.gender +
    ', ' +
    speaker.accents +
    ' accent (' +
    speaker.region +
    ')</p>' +
    '<audio controls><source src="https://huggingface.co/voices/' + speaker.project + '/resolve/main/samples/' +
    speaker.speaker_id +
    '.wav" type="audio/wav"></audio>';
  voiceDetailsHTML += speakerHTML;
}
      voiceDetailsHTML += "</pre>";

      // Update the voice details container with the HTML
      document.getElementById("voice-details-container").innerHTML = voiceDetailsHTML;
    }
  };

  // Send the request
  xhr.send();
}

// Call the updateVoiceDetails function when the page finishes loading
window.addEventListener("load", updateVoiceDetails);

</script>
</body>
</html>
